<%= form_for :user, url: users_path, method: :post do |f| %>
	Username: <%= f.text_field :username, :value => "username" %><br/>
	Email: <%= f.text_field :email, :value => "test@test.com" %><br/>
	Password: <%= f.password_field :password %>
	<%= f.submit %>
<% end %>

<!--
<%= form_tag users_path method: :post do %>
	<%= label_tag :username %>
	<%= text_field_tag :username %>

	<%= label_tag :email %>
	<%= text_field_tag :email %>

	<%= label_tag :password %>
	<%= password_field_tag :password %>

	<%= submit_tag "Submit" %>

<% end %>
-->

<!--
<form action="/users" method="post" accept-charset="UTF-8">
	Username: <input type="text" name="user[username]"><br>
	Email: <input type="text" name="user[email]"><br>
	Password: <input type="password" name="user[password]"><br>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="submit" value="Submit">
</form>
-->